@charset "utf-8";


@media all and (max-width:1230px) {

    .intro-text img {
        width: 180%;
        display: block;
        animation: circle-text 240s infinite linear;
        pointer-events: none;
        transform-origin: center center;
        position: relative;
        right: 40%;
    }
}

@media all and (max-width:1465px) {
    .p-pt1 {
        gap: 100px;
    }

    .p-pt2 ul:last-child {
        margin-left: 120px;
    }
}

@media all and (max-width:1300px) {
    #profile .inner {
        padding: 0 50px;
        gap: 50px;
    }

    #profile .inner>img {
        width: 50%;
    }

}

@media all and (max-width:1000px) {
    #profile .inner {
        padding: 0 20px;
        gap: 50px;
    }

    .p-pt1 {
        gap: 50px;
    }

    #profile .inner>img {
        width: 40%;
    }
}

@media all and (max-width:900px) {
    #intro .intro-main {
        margin-top: 70px;
        margin-bottom: 100px;
    }

    .nav-bar {
        padding: 30px 50px;
    }
}

@media all and (max-width:850px) {
    #intro .intro-main {
        margin-bottom: 50px;
    }

    #profile {
        height: 100%;
        gap: 50px;
    }

    #profile .inner {
        flex-direction: column;
    }

    #profile .inner>img {
        width: 70%;
    }

    #profile .bx-wrapper {
        margin-bottom: 80px;
    }
}

@media all and (max-width:800px) {
    .web-saluty .saluty-main {
        display: none;
    }

    #web .m-img {
        display: block;
        transform: translate(6%, 5%);
    }

    #web .m-img img {
        width: 100%;
    }

    .saluty-text {
        justify-content: start;
        padding-top: 15vh;
    }

    .saluty-text>a {
        align-self: flex-start;
        color: #19243e;
        background-color: #ffffff;
    }

    .saluty-text>div {
        margin-bottom: 5vh;
    }
}

@media all and (max-width:700px) {
    .nav-bar {
        padding: 30px 30px;
    }
}

@media all and (max-width:700px) {
    .nav-bar {
        display: flex;
    }

    .nav-bar {
        width: 100%;
        padding: 20px 30px;
        background-color: #c4c4c49a;
        backdrop-filter: blur(5px);
    }

    /* ---------------- */

    #intro .intro-main {
        margin-top: 0;
        z-index: 1000;
    }

    .nav-bar a {
        display: none;
    }

    .nav-bar a:first-child {
        display: block;
    }

    #profile {
        padding-top: 250px;
    }

    #profile .bx-wrapper {
        margin-bottom: 103px;
    }

    /* ---------------- */

    .saluty-text>a {
        width: 40%;
        align-self: flex-start;
        margin-bottom: 5vh;
    }

    /* ---------------- */
    #design {
        flex-direction: column;
    }

    .design-title {
        padding-top: 80px;
        gap: 10px;
        background-color: #c4c4c4bd;
        backdrop-filter: blur(5px);
    }

    .design-main {
        padding: 100px 10px;
    }

    .design-img img {
        width: 100%;
    }

    .design-title>p {
        margin-bottom: 12px;
    }

    .design-title>a {
        margin-bottom: 5px;
    }

    /* ---------------- */

    #contact div p:nth-child(1) {
        font-size: 1.4rem;
        font-weight: 300;
        transform: translate(8%, 60%);
        text-shadow: none;
        text-align: start;
    }

    #contact div p:nth-child(2) {
        font-size: 8rem;
        font-weight: 900;
        color: #bda7bf;

    }

    #contact div p:nth-child(3) {
        text-align: center;
        font-weight: 600;
        font-size: 1.6rem;
        text-shadow: none;
    }
}



/* ============================= */