@charset "utf-8";

html {
    scroll-behavior: smooth;
    font-size: clamp(14px, 1vw, 18px);
}

main section {
    min-height: 100vh;
    height: auto;
    /* 모든 화면의 크기를 일정하게 반응형까지 생각해서 맞추기 위해서 */
}

#wrap {
    width: 100%;
    margin: 0 auto;
}

.scroll-text {
    width: 100px;
    height: 30px;
    background-color: #f58e8e;
    position: fixed;
    right: 20%;
    top: 20%;
    z-index: 99999999999;
}

/* header */

.nav-bar {
    width: 100%;
    background-color: #c4c4c49a;
    box-shadow: 0 2px 2px #b9b9b9;
    backdrop-filter: blur(5px);
    display: flex;
    padding: 30px 100px;
    font-family: 'SeoulHangang B';
    font-size: 1.1rem;
    color: #727272;
    gap: 65px;
    position: fixed;
    opacity: 0;
    transition: 0.5s;
    z-index: 1000000;
}

.nav-bar a.on:not(:nth-child(1)) {
    color: #8b5a8f;
}

.nav-bar a:first-child {
    font-family: 'SeoulHangang EB';
    margin-right: auto;
    color: #5c5c5c;

}

.nav-bar a:first-child:hover {
    color: #8b5a8f;
    transition: 0.3s;
}

.nav-scroll {
    position: fixed;
    flex-direction: column;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    align-items: flex-end;
    gap: 10px;
    z-index: 1000000;
}

.nav-scroll a.on::after {
    content: '';
    background-color: #8b5a8f;
    border: 1px solid #b585b9;
}

.nav-scroll span {
    color: #aaaaaa;
    font-family: 'SeoulHangang L';
    font-size: 1.125rem;
    display: inline-block;
    opacity: 0;
    transform: translateX(50px);
    transition: 0.5s 0.1s;
}

.nav-scroll a::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 50px;
    transition: 0.3s;
}

.nav-scroll a:hover::after {
    content: '';
    background-color: #8b5a8f;
    border: 1px solid #b585b9;
}

.nav-scroll a:hover span {
    opacity: 1;
    transform: translateX(0px);
}


/* main-intro */

#intro {
    width: 100%;
    height: 100vh;
    background-image: url(../images/main_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#intro>.inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
}

#intro .intro-main {
    margin: 180px 0;
}

#intro>.inner h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 25px;
}

#intro .intro-scroll {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.intro-text img {
    display: block;
    animation: circle-text 240s infinite linear;
    pointer-events: none;
}

@keyframes circle-text {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.intro-scroll a {
    display: block;
}

.intro-scroll a i {
    font-size: 1.5625rem;
    padding-right: 4px;
    color: #8b5a8f;
}

/* main-profile */

#profile {
    background-image: url(../images/profile_bg.png);
    width: 100%;
    min-height: 100vh;
    padding: 22vh 0 0 0;
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 20vh;
}

#profile .inner {
    width: 100%;
    padding: 0 150px;
    display: flex;
    align-items: center;
    gap: 142px;
    transform: translate(0, -20%);
}

.profile-text-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-text-box>p {
    font-weight: 300;
    font-size: 1.125rem;
}

.p-pt1 {
    display: flex;
    gap: 280px;
    justify-content: space-between;
}

.p-pt1-name {
    display: flex;
    gap: 20px;
    align-items: end;
    margin-bottom: 100px;

}

.p-pt1-ask {
    font-weight: 500;
    font-size: 1.25rem;

}

.p-pt1-ask p:first-child {
    font-weight: 600;
    margin-bottom: 20px;
}

.p-pt1-user {
    font-weight: 300;
    font-size: 1.25rem;
}


.p-pt1>h2 {
    font-weight: 800;
    font-size: 2.25rem;
}

.p-pt2 {
    display: flex;
    width: 100%;
}

.p-pt2 ul {
    flex: 1;
}

.p-pt2 ul:last-child {
    margin-left: 300px;
}

.icon-slide {
    width: 100%;
}

/* main-web */

#web {
    width: 100%;
    height: 100vh;
}

#web .m-img {
    display: none;
}

.web-saluty {
    width: 100%;
    height: 100vh;
    display: flex;
    color: #fff;
}

.saluty-main {
    background-image: url(../images/web_saluty_bg.png);
    background-repeat: no-repeat;
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}



.saluty-main a {
    /* border:1px solid orange; */
    text-align: center;
    transform: translate(-100%, 0);
    transition: .8s 0.1s;
}

.web-saluty.on a {
    transform: translate(0, 0);
}

.saluty-main img {
    width: 40%;
}

.saluty-text {
    background-color: #19243e;
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
}

.saluty-text>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-bottom: 15vh;
}

.saluty-text h2 {
    font-size: 2rem;
    font-weight: 700;
}

.saluty-text p {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    margin: 4px 0;

    font-size: 1.25rem;
    font-weight: 500;
}

.saluty-text p span {
    flex: 0 0 120px;
    /* 고정 너비 */

    font-weight: 300;
}

.saluty-text>a {
    width: 30%;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 10px;
    transition: 0.3s;
    align-self: center;
    font-size: 1.2rem;
}

.saluty-text>a:hover {
    color: #19243e;
    background-color: #ffffff;
}


/* main-design */

#design {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

.design-title {
    font-size: 3rem;
    font-weight: 500;
    background-color: #c4c4c4;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 155px;
    gap: 20px;
    position: sticky;
    z-index: 10000;
    top: 0;
    height: 100vh;
}

.design-title>h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

.design-title>p {
    font-size: 1.2rem;
    font-weight: 200;
    margin-bottom: 60px;
}

.design-title>a {
    font-size: 1.15rem;
    font-weight: 200;
    margin-bottom: 50px;
    transition: 0.3s;
}

.design-title>a:hover {
    color: #8b5a8f;
    font-weight: 400;
    font-size: 1.2rem;
}

.design-main {
    flex: 8;

}

.photo,
.video {
    display: flex;
    gap: 128px;
    padding: 100px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.photo>h2,
.video>h2 {
    width: 100%;
    text-align: center;
}

.design-img,
.video-img {
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 16px;
    box-shadow: -2px 2px 8px #19243e;
}

.design-img img,
.video-img img {
    width: 100%;
    display: block;
    transform: scale(1, 1);
    transition: 0.5s;
}

.design-img:hover,
.video-img:hover {
    box-shadow: 3px -2px 10px #222;
}

.design-img:hover img,
.video-img:hover img {
    transform: scale(1.1, 1.1);
}

.design-text,
.video-text {
    margin-left: 16px;
}

.design-text h4,
.video-text h4 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 4px;
}

.design-text p,
.video-text p {
    font-weight: 300;
    font-size: 1.15rem;
}

/* main-cont act */

#contact {
    width: 100%;
    height: 100vh;
    background-image: url(../images/footer_bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-size: 15vw;
    color: #7a746e;
    text-shadow: 0 8px 9px #c8abca, 0px -2px 1px #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}

#contact div {
    transform: translate(0, 300%);
    transition: 0.8s;
}

#contact div.on {
    transform: translate(0, 0);
}

#contact div p:nth-child(1) {
    font-size: 1.8rem;
    font-weight: 300;
    transform: translate(0, 60%);
    text-shadow: none;
    text-align: start;
}

#contact div p:nth-child(2) {
    font-size: 10rem;
    font-weight: 900;
    color: #bda7bf;

}

#contact div p:nth-child(3) {
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;
    text-shadow: none;
    text-transform: lowercase;

}

#contact div p:nth-child(4) {
    font-size: 1.25rem;
    text-shadow: none;
    padding-top: 50px;
    font-weight: 400;
}